.InputFile {
    margin: 2em auto;
}
  
.InputFile__input {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

.InputFile__label {
cursor: pointer;
}

.name {
    margin: 0;
}